.ex-1-square {
  transition: all 1.5s linear 0s;
}
.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  transition: all 2s ease 0s;
}
.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  transition: all 0.5s ease 0s;
}
.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  transition: all 2s ease 0s;
}
.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  transition: all 2s ease 0s;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active {
  transform: scale(0.5);
}

.ex-6-img:hover {
  filter: grayscale();
}

.ex-7-img {
  transition: all 3s ease 0s;
}
.ex-7-img:hover {
  filter: grayscale(1) sepia(0.7);
}

.ex-8-img {
  transition: all 3s ease 0s;
}
.ex-8-img:hover {
  filter: sepia(0.7) saturate(0.8);
  border-radius: 20px;
}

.ex-9-img {
  transition: all 2s ease 0s;
}
.ex-9-img:hover {
  filter: grayscale(0.7) brightness(1);
  border-radius: 20px;
  transform: scale(1.5);
}

.ex-10-icon {
  animation: 1s linear infinite reverse rotation;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ex-11-icon:hover {
  animation: 3s linear semicircle;
}
@keyframes semicircle {
  0% {
    transform: rotate(0);
  }
  95% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(0);
  }
}

.ex-12-button:hover .ex-12-top-white {
  animation: 2s linear left-right;
}
@keyframes left-right {
  0% {
    top: -10px;
    left: 10%;
  }
  50% {
    top: -10px;
    left: 70%;
  }
  100% {
    top: -10px;
    left: 10%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: 2s linear right-left;
}
@keyframes right-left {
  0% {
    bottom: -10px;
    right: 20%;
  }
  50% {
    bottom: -10px;
    right: 70%;
  }
  100% {
    bottom: -10px;
    right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: 1.5s linear rotate-top;
}
@keyframes rotate-top {
  0% {
    top: -10px;
    left: 10%;
  }
  25% {
    top: -10px;
    left: 80%;
  }
  50% {
    top: 55px;
    left: 80%;
  }
  75% {
    top: 55px;
    left: -10%;
  }
  90% {
    top: -10px;
    left: -10%;
  }
  100% {
    top: -10px;
    left: 10%;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: 1.5s linear rotate-bot;
}
@keyframes rotate-bot {
  0% {
    bottom: -10px;
    right: 20%;
  }
  25% {
    bottom: -10px;
    right: 80%;
  }
  50% {
    bottom: 55px;
    right: 80%;
  }
  75% {
    bottom: 55px;
    right: -10%;
  }
  90% {
    bottom: -10px;
    right: -10%;
  }
  100% {
    bottom: -10px;
    right: 20%;
  }
}
